version: '3.8'
services:
  frontend:
    container_name: frontend
    restart: on-failure
    build:
      dockerfile: Dockerfile/prod.Dockerfile
      context: .
      args:
        - NODE_VERSION=${DOCKER_NODE_VERSION}
    ports:
      # 把本機的 port 跟 container 的 port 綁定
      - '${DOCKER_HOST_MACHINE_PORT}:3000'
    volumes:
      - .:/app
    tty: true
    stdin_open: true

  # nginx
  nginx:
    container_name: nginx
    restart: on-failure
    build: ./nginx
    ports:
      - '80:80'
